In [4]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_datareader.data as web

%matplotlib inline

In [2]:
pd.set_option("display.max_rows", 30)
pd.set_option("display.min_rows", 25)
pd.set_option("display.max_columns", 15)
pd.set_option("precision", 3)

In [7]:
start = datetime.datetime(2020, 1, 1)
end = datetime.datetime(2020, 8, 31)

In [8]:
apple = web.DataReader("AAPL", "yahoo", start, end)
google = web.DataReader("GOOGL", "yahoo", start, end)

In [9]:
apple.to_csv("apple_2020_stock.csv")
google.to_csv("google_2020_stock.csv")

In [10]:
apple_2020 = pd.read_csv("apple_2020_stock.csv", index_col=0, parse_dates=True)
google_2020 = pd.read_csv("google_2020_stock.csv", index_col=0, parse_dates=True)

In [12]:
google = google_2020
apple = apple_2020

In [14]:
googler = google.reset_index()
appler = apple.reset_index()

In [15]:
google8 = googler[(googler['Date']> '2020-08-01') & (googler['Date'] <= '2020-08-31') ]
apple8 =appler[(googler['Date']> '2020-08-01') & (googler['Date'] <= '2020-08-31') ]

In [34]:
df = [google8,apple8]

In [17]:
data8 = pd.concat(df).set_index('Date')

In [21]:
data8 = data8[['Adj Close']]

In [29]:
data8.head(9)

            Adj Close
Date
2020-08-03    1482.76
2020-08-04    1473.30
2020-08-05    1479.09
2020-08-06    1504.95
2020-08-07    1498.37
2020-08-10    1496.82
2020-08-11    1480.54
2020-08-12    1507.24
2020-08-13    1516.65

In [30]:
data8.loc['2020-08-11']

            Adj Close
Date
2020-08-11   1480.540
2020-08-11    109.375

In [46]:
google8 = google8.reset_index()
apple8 = apple8.reset_index()

In [65]:
google8d = google8.set_index('Date')
apple8d = apple8.set_index('Date')
df = [google8d,apple8d]

In [74]:
datai = pd.concat(df, keys = ['GOOGL','AAPL'])

In [73]:
google8d.insert(0, 'Symbol', 'GOOGL')
apple8d.insert(0, 'Symbol', 'AAPL')

In [76]:
datat = pd.concat(df)

In [82]:
datap = datat.sort_index()

In [88]:
datap = datap.reset_index()
datap = datap.drop('index', axis=1)

In [91]:
datap = datap.drop('level_0', axis =1)

In [96]:
datac = datap.pivot(index = 'Date', columns = 'Symbol', values= 'Adj Close')

In [99]:
datac.head()

Symbol         AAPL    GOOGL
Date
2020-08-03  108.741  1482.76
2020-08-04  109.468  1473.30
2020-08-05  109.864  1479.09
2020-08-06  113.698  1504.95
2020-08-07  111.113  1498.37

In [102]:
google1 = google.reset_index()
apple1 = apple.reset_index()

In [103]:
google1.insert(0, 'Symbol', 'GOOGL')
apple1.insert(0, 'Symbol', 'AAPL')

In [104]:
df1 = [google1, apple1]

In [105]:
dt = pd.concat(df1)

In [108]:
dtp = dt.pivot(index= 'Date', columns= 'Symbol')

In [113]:
dtp.head()

              High              Low             Open            Close  \
Symbol        AAPL    GOOGL    AAPL    GOOGL    AAPL    GOOGL    AAPL
Date
2019-12-31  73.420  1340.66  72.380  1332.13  72.482  1335.79  73.412
2020-01-02  75.150  1368.68  73.798  1346.49  74.060  1348.41  75.088
2020-01-03  75.145  1373.75  74.125  1347.32  74.287  1348.00  74.357
2020-01-06  74.990  1398.32  73.188  1351.00  73.448  1351.63  74.950
2020-01-07  75.225  1403.50  74.370  1391.56  74.960  1400.46  74.598

                        Volume            Adj Close
Symbol        GOOGL       AAPL      GOOGL      AAPL    GOOGL
Date
2019-12-31  1339.39  1.008e+08  9.757e+05    72.910  1339.39
2020-01-02  1368.68  1.355e+08  1.364e+06    74.573  1368.68
2020-01-03  1361.52  1.463e+08  1.170e+06    73.848  1361.52
2020-01-06  1397.81  1.184e+08  2.338e+06    74.436  1397.81
2020-01-07  1395.11  1.089e+08  1.716e+06    74.086  1395.11

In [114]:
dtp.stack().head()

                       High       Low      Open     Close     Volume  \
Date       Symbol
2019-12-31 AAPL      73.420    72.380    72.482    73.412  1.008e+08
           GOOGL   1340.660  1332.130  1335.790  1339.390  9.757e+05
2020-01-02 AAPL      75.150    73.798    74.060    75.088  1.355e+08
           GOOGL   1368.680  1346.490  1348.410  1368.680  1.364e+06
2020-01-03 AAPL      75.145    74.125    74.287    74.357  1.463e+08

                   Adj Close
Date       Symbol
2019-12-31 AAPL       72.910
           GOOGL    1339.390
2020-01-02 AAPL       74.573
           GOOGL    1368.680
2020-01-03 AAPL       73.848

In [115]:
dtt = dtp.reset_index()

In [118]:
dtt['Year'] =  dtt['Date'].dt.year

In [122]:
dtt['Month'] =  dtt['Date'].dt.month

In [126]:
dtt.head()

             Date    High              Low             Open            Close  \
Symbol               AAPL    GOOGL    AAPL    GOOGL    AAPL    GOOGL    AAPL
0      2019-12-31  73.420  1340.66  72.380  1332.13  72.482  1335.79  73.412
1      2020-01-02  75.150  1368.68  73.798  1346.49  74.060  1348.41  75.088
2      2020-01-03  75.145  1373.75  74.125  1347.32  74.287  1348.00  74.357
3      2020-01-06  74.990  1398.32  73.188  1351.00  73.448  1351.63  74.950
4      2020-01-07  75.225  1403.50  74.370  1391.56  74.960  1400.46  74.598

                    Volume            Adj Close           Year Month
Symbol    GOOGL       AAPL      GOOGL      AAPL    GOOGL
0       1339.39  1.008e+08  9.757e+05    72.910  1339.39  2019    12
1       1368.68  1.355e+08  1.364e+06    74.573  1368.68  2020     1
2       1361.52  1.463e+08  1.170e+06    73.848  1361.52  2020     1
3       1397.81  1.184e+08  2.338e+06    74.436  1397.81  2020     1
4       1395.11  1.089e+08  1.716e+06    74.086  1395.11  2020     1

In [145]:
dt2 = dtp.stack()

In [146]:
dt2r = dt2.reset_index()

In [148]:
dt2r['Year'] = dt2r['Date'].dt.year
dt2r['Month'] = dt2r['Date'].dt.month

In [152]:
s = dt2r.groupby('Symbol')

In [156]:
s.groups

{'AAPL': Int64Index([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,
             ...
             318, 320, 322, 324, 326, 328, 330, 332, 334, 336],
            dtype='int64', length=169),
 'GOOGL': Int64Index([  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,
             ...
             319, 321, 323, 325, 327, 329, 331, 333, 335, 337],
            dtype='int64', length=169)}

In [159]:
def get(name):
    for stocks, group in name:
        print(stocks)
        print(group.head())

In [160]:
get(s)

AAPL
        Date Symbol    High     Low    Open   Close     Volume  Adj Close  \
0 2019-12-31   AAPL  73.420  72.380  72.482  73.412  1.008e+08     72.910
2 2020-01-02   AAPL  75.150  73.798  74.060  75.088  1.355e+08     74.573
4 2020-01-03   AAPL  75.145  74.125  74.287  74.357  1.463e+08     73.848
6 2020-01-06   AAPL  74.990  73.188  73.448  74.950  1.184e+08     74.436
8 2020-01-07   AAPL  75.225  74.370  74.960  74.598  1.089e+08     74.086

   Year  Month
0  2019     12
2  2020      1
4  2020      1
6  2020      1
8  2020      1
GOOGL
        Date Symbol     High      Low     Open    Close     Volume  Adj Close  \
1 2019-12-31  GOOGL  1340.66  1332.13  1335.79  1339.39  9.757e+05    1339.39
3 2020-01-02  GOOGL  1368.68  1346.49  1348.41  1368.68  1.364e+06    1368.68
5 2020-01-03  GOOGL  1373.75  1347.32  1348.00  1361.52  1.170e+06    1361.52
7 2020-01-06  GOOGL  1398.32  1351.00  1351.63  1397.81  2.338e+06    1397.81
9 2020-01-07  GOOGL  1403.50  1391.56  1400.46  1395.11  1.716e+06    1395.11

   Year  Month
1  2019     12
3  2020      1
5  2020      1
7  2020      1
9  2020      1

In [162]:
s.size()

Symbol
AAPL     169
GOOGL    169
dtype: int64

In [165]:
s.get_group('AAPL')

,Date,Symbol,High,Low,Open,Close,Volume,Adj Close,Year,Month
0,2019-12-31,AAPL,73.420,72.380,72.482,73.412,1.008e+08,72.910,2019,12
2,2020-01-02,AAPL,75.150,73.798,74.060,75.088,1.355e+08,74.573,2020,1
4,2020-01-03,AAPL,75.145,74.125,74.287,74.357,1.463e+08,73.848,2020,1
6,2020-01-06,AAPL,74.990,73.188,73.448,74.950,1.184e+08,74.436,2020,1
8,2020-01-07,AAPL,75.225,74.370,74.960,74.598,1.089e+08,74.086,2020,1
10,2020-01-08,AAPL,76.110,74.290,74.290,75.798,1.321e+08,75.278,2020,1
12,2020-01-09,AAPL,77.607,76.550,76.810,77.408,1.701e+08,76.877,2020,1
14,2020-01-10,AAPL,78.168,77.062,77.650,77.582,1.406e+08,77.051,2020,1
16,2020-01-13,AAPL,79.268,77.787,77.910,79.240,1.215e+08,78.697,2020,1
18,2020-01-14,AAPL,79.393,78.043,79.175,78.170,1.620e+08,77.634,2020,1
20,2020-01-15,AAPL,78.875,77.387,77.963,77.835,1.219e+08,77.302,2020,1
22,2020-01-16,AAPL,78.925,78.022,78.397,78.810,1.088e+08,78.270,2020,1
...,...,...,...,...,...,...,...,...,...,...
314,2020-08-14,AAPL,115.000,113.045,114.830,114.908,1.656e+08,114.908,2020,8
316,2020-08-17,AAPL,116.088,113.963,116.062,114.607,1.196e+08,114.607,2020,8
318,2020-08-18,AAPL,116.000,114.007,114.353,115.562,1.056e+08,115.562,2020,8
320,2020-08-19,AAPL,117.162,115.610,115.982,115.707,1.455e+08,115.707,2020,8
322,2020-08-20,AAPL,118.393,115.732,115.750,118.275,1.269e+08,118.275,2020,8
324,2020-08-21,AAPL,124.868,119.250,119.262,124.370,3.381e+08,124.370,2020,8
326,2020-08-24,AAPL,128.785,123.938,128.697,125.857,3.459e+08,125.857,2020,8
328,2020-08-25,AAPL,125.180,123.052,124.698,124.825,2.115e+08,124.825,2020,8
330,2020-08-26,AAPL,126.993,125.082,126.180,126.522,1.630e+08,126.522,2020,8
332,2020-08-27,AAPL,127.485,123.832,127.143,125.010,1.556e+08,125.010,2020,8
334,2020-08-28,AAPL,126.442,124.577,126.012,124.808,1.876e+08,124.808,2020,8
336,2020-08-31,AAPL,131.000,126.000,127.580,129.040,2.257e+08,129.040,2020,8

In [169]:
p = dt2r[['Date','Symbol' ,'Adj Close', 'Year', 'Month']]

In [172]:
g = p.groupby(['Symbol', 'Year', 'Month'])

In [175]:
g.groups

{('AAPL', 2019, 12): Int64Index([0], dtype='int64'),
 ('AAPL',
  2020,
  1): Int64Index([2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36,
             38, 40, 42],
            dtype='int64'),
 ('AAPL',
  2020,
  2): Int64Index([44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
             78, 80],
            dtype='int64'),
 ('AAPL',
  2020,
  3): Int64Index([ 82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104, 106,
             108, 110, 112, 114, 116, 118, 120, 122, 124],
            dtype='int64'),
 ('AAPL',
  2020,
  4): Int64Index([126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150,
             152, 154, 156, 158, 160, 162, 164, 166],
            dtype='int64'),
 ('AAPL',
  2020,
  5): Int64Index([168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192,
             194, 196, 198, 200, 202, 204, 206],
            dtype='int64'),
 ('AAPL',
  2020,
  6): Int64Index([208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232,
             234, 236, 238, 240, 242, 244, 246, 248, 250],
            dtype='int64'),
 ('AAPL',
  2020,
  7): Int64Index([252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276,
             278, 280, 282, 284, 286, 288, 290, 292, 294],
            dtype='int64'),
 ('AAPL',
  2020,
  8): Int64Index([296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320,
             322, 324, 326, 328, 330, 332, 334, 336],
            dtype='int64'),
 ('GOOGL', 2019, 12): Int64Index([1], dtype='int64'),
 ('GOOGL',
  2020,
  1): Int64Index([3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
             39, 41, 43],
            dtype='int64'),
 ('GOOGL',
  2020,
  2): Int64Index([45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77,
             79, 81],
            dtype='int64'),
 ('GOOGL',
  2020,
  3): Int64Index([ 83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103, 105, 107,
             109, 111, 113, 115, 117, 119, 121, 123, 125],
            dtype='int64'),
 ('GOOGL',
  2020,
  4): Int64Index([127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151,
             153, 155, 157, 159, 161, 163, 165, 167],
            dtype='int64'),
 ('GOOGL',
  2020,
  5): Int64Index([169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193,
             195, 197, 199, 201, 203, 205, 207],
            dtype='int64'),
 ('GOOGL',
  2020,
  6): Int64Index([209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233,
             235, 237, 239, 241, 243, 245, 247, 249, 251],
            dtype='int64'),
 ('GOOGL',
  2020,
  7): Int64Index([253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277,
             279, 281, 283, 285, 287, 289, 291, 293, 295],
            dtype='int64'),
 ('GOOGL',
  2020,
  8): Int64Index([297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321,
             323, 325, 327, 329, 331, 333, 335, 337],
            dtype='int64')}

In [186]:
def power(name):
    for group, stocks in name:
        print(group)
        print(stocks)

In [187]:
power(g)

('AAPL', 2019, 12)
        Date Symbol  Adj Close  Year  Month
0 2019-12-31   AAPL      72.91  2019     12
('AAPL', 2020, 1)
         Date Symbol  Adj Close  Year  Month
2  2020-01-02   AAPL     74.573  2020      1
4  2020-01-03   AAPL     73.848  2020      1
6  2020-01-06   AAPL     74.436  2020      1
8  2020-01-07   AAPL     74.086  2020      1
10 2020-01-08   AAPL     75.278  2020      1
12 2020-01-09   AAPL     76.877  2020      1
14 2020-01-10   AAPL     77.051  2020      1
16 2020-01-13   AAPL     78.697  2020      1
18 2020-01-14   AAPL     77.634  2020      1
20 2020-01-15   AAPL     77.302  2020      1
22 2020-01-16   AAPL     78.270  2020      1
24 2020-01-17   AAPL     79.137  2020      1
26 2020-01-21   AAPL     78.600  2020      1
28 2020-01-22   AAPL     78.881  2020      1
30 2020-01-23   AAPL     79.261  2020      1
32 2020-01-24   AAPL     79.032  2020      1
34 2020-01-27   AAPL     76.708  2020      1
36 2020-01-28   AAPL     78.878  2020      1
38 2020-01-29   AAPL     80.529  2020      1
40 2020-01-30   AAPL     80.413  2020      1
42 2020-01-31   AAPL     76.847  2020      1
('AAPL', 2020, 2)
         Date Symbol  Adj Close  Year  Month
44 2020-02-03   AAPL     76.636  2020      2
46 2020-02-04   AAPL     79.166  2020      2
48 2020-02-05   AAPL     79.812  2020      2
50 2020-02-06   AAPL     80.745  2020      2
52 2020-02-07   AAPL     79.648  2020      2
54 2020-02-10   AAPL     80.026  2020      2
56 2020-02-11   AAPL     79.543  2020      2
58 2020-02-12   AAPL     81.432  2020      2
60 2020-02-13   AAPL     80.852  2020      2
62 2020-02-14   AAPL     80.872  2020      2
64 2020-02-18   AAPL     79.392  2020      2
66 2020-02-19   AAPL     80.541  2020      2
68 2020-02-20   AAPL     79.715  2020      2
70 2020-02-21   AAPL     77.911  2020      2
72 2020-02-24   AAPL     74.210  2020      2
74 2020-02-25   AAPL     71.696  2020      2
76 2020-02-26   AAPL     72.834  2020      2
78 2020-02-27   AAPL     68.073  2020      2
80 2020-02-28   AAPL     68.033  2020      2
('AAPL', 2020, 3)
          Date Symbol  Adj Close  Year  Month
82  2020-03-02   AAPL     74.367  2020      3
84  2020-03-03   AAPL     72.005  2020      3
86  2020-03-04   AAPL     75.345  2020      3
88  2020-03-05   AAPL     72.901  2020      3
90  2020-03-06   AAPL     71.933  2020      3
92  2020-03-09   AAPL     66.243  2020      3
94  2020-03-10   AAPL     71.014  2020      3
96  2020-03-11   AAPL     68.548  2020      3
98  2020-03-12   AAPL     61.779  2020      3
100 2020-03-13   AAPL     69.180  2020      3
102 2020-03-16   AAPL     60.280  2020      3
104 2020-03-17   AAPL     62.931  2020      3
106 2020-03-18   AAPL     61.390  2020      3
108 2020-03-19   AAPL     60.920  2020      3
110 2020-03-20   AAPL     57.052  2020      3
112 2020-03-23   AAPL     55.840  2020      3
114 2020-03-24   AAPL     61.443  2020      3
116 2020-03-25   AAPL     61.104  2020      3
118 2020-03-26   AAPL     64.320  2020      3
120 2020-03-27   AAPL     61.657  2020      3
122 2020-03-30   AAPL     63.416  2020      3
124 2020-03-31   AAPL     63.287  2020      3
('AAPL', 2020, 4)
          Date Symbol  Adj Close  Year  Month
126 2020-04-01   AAPL     59.957  2020      4
128 2020-04-02   AAPL     60.957  2020      4
130 2020-04-03   AAPL     60.081  2020      4
132 2020-04-06   AAPL     65.323  2020      4
134 2020-04-07   AAPL     64.566  2020      4
136 2020-04-08   AAPL     66.219  2020      4
138 2020-04-09   AAPL     66.696  2020      4
140 2020-04-13   AAPL     68.005  2020      4
142 2020-04-14   AAPL     71.440  2020      4
144 2020-04-15   AAPL     70.788  2020      4
146 2020-04-16   AAPL     71.350  2020      4
148 2020-04-17   AAPL     70.382  2020      4
150 2020-04-20   AAPL     68.921  2020      4
152 2020-04-21   AAPL     66.791  2020      4
154 2020-04-22   AAPL     68.715  2020      4
156 2020-04-23   AAPL     68.448  2020      4
158 2020-04-24   AAPL     70.425  2020      4
160 2020-04-27   AAPL     70.474  2020      4
162 2020-04-28   AAPL     69.332  2020      4
164 2020-04-29   AAPL     71.609  2020      4
166 2020-04-30   AAPL     73.120  2020      4
('AAPL', 2020, 5)
          Date Symbol  Adj Close  Year  Month
168 2020-05-01   AAPL     71.943  2020      5
170 2020-05-04   AAPL     72.961  2020      5
172 2020-05-05   AAPL     74.056  2020      5
174 2020-05-06   AAPL     74.820  2020      5
176 2020-05-07   AAPL     75.594  2020      5
178 2020-05-08   AAPL     77.393  2020      5
180 2020-05-11   AAPL     78.611  2020      5
182 2020-05-12   AAPL     77.712  2020      5
184 2020-05-13   AAPL     76.774  2020      5
186 2020-05-14   AAPL     77.246  2020      5
188 2020-05-15   AAPL     76.789  2020      5
190 2020-05-18   AAPL     78.598  2020      5
192 2020-05-19   AAPL     78.144  2020      5
194 2020-05-20   AAPL     79.664  2020      5
196 2020-05-21   AAPL     79.070  2020      5
198 2020-05-22   AAPL     79.579  2020      5
200 2020-05-26   AAPL     79.040  2020      5
202 2020-05-27   AAPL     79.384  2020      5
204 2020-05-28   AAPL     79.419  2020      5
206 2020-05-29   AAPL     79.342  2020      5
('AAPL', 2020, 6)
          Date Symbol  Adj Close  Year  Month
208 2020-06-01   AAPL     80.318  2020      6
210 2020-06-02   AAPL     80.690  2020      6
212 2020-06-03   AAPL     81.134  2020      6
214 2020-06-04   AAPL     80.435  2020      6
216 2020-06-05   AAPL     82.726  2020      6
218 2020-06-08   AAPL     83.215  2020      6
220 2020-06-09   AAPL     85.843  2020      6
222 2020-06-10   AAPL     88.051  2020      6
224 2020-06-11   AAPL     83.824  2020      6
226 2020-06-12   AAPL     84.548  2020      6
228 2020-06-15   AAPL     85.593  2020      6
230 2020-06-16   AAPL     87.862  2020      6
232 2020-06-17   AAPL     87.739  2020      6
234 2020-06-18   AAPL     87.774  2020      6
236 2020-06-19   AAPL     87.273  2020      6
238 2020-06-22   AAPL     89.556  2020      6
240 2020-06-23   AAPL     91.468  2020      6
242 2020-06-24   AAPL     89.853  2020      6
244 2020-06-25   AAPL     91.046  2020      6
246 2020-06-26   AAPL     88.248  2020      6
248 2020-06-29   AAPL     90.282  2020      6
250 2020-06-30   AAPL     91.036  2020      6
('AAPL', 2020, 7)
          Date Symbol  Adj Close  Year  Month
252 2020-07-01   AAPL     90.864  2020      7
254 2020-07-02   AAPL     90.864  2020      7
256 2020-07-06   AAPL     93.294  2020      7
258 2020-07-07   AAPL     93.005  2020      7
260 2020-07-08   AAPL     95.171  2020      7
262 2020-07-09   AAPL     95.580  2020      7
264 2020-07-10   AAPL     95.747  2020      7
266 2020-07-13   AAPL     95.306  2020      7
268 2020-07-14   AAPL     96.883  2020      7
270 2020-07-15   AAPL     97.549  2020      7
272 2020-07-16   AAPL     96.349  2020      7
274 2020-07-17   AAPL     96.154  2020      7
276 2020-07-20   AAPL     98.180  2020      7
278 2020-07-21   AAPL     96.825  2020      7
280 2020-07-22   AAPL     97.097  2020      7
282 2020-07-23   AAPL     92.678  2020      7
284 2020-07-24   AAPL     92.448  2020      7
286 2020-07-27   AAPL     94.639  2020      7
288 2020-07-28   AAPL     93.085  2020      7
290 2020-07-29   AAPL     94.869  2020      7
292 2020-07-30   AAPL     96.017  2020      7
294 2020-07-31   AAPL    106.069  2020      7
('AAPL', 2020, 8)
          Date Symbol  Adj Close  Year  Month
296 2020-08-03   AAPL    108.741  2020      8
298 2020-08-04   AAPL    109.468  2020      8
300 2020-08-05   AAPL    109.864  2020      8
302 2020-08-06   AAPL    113.698  2020      8
304 2020-08-07   AAPL    111.113  2020      8
306 2020-08-10   AAPL    112.728  2020      8
308 2020-08-11   AAPL    109.375  2020      8
310 2020-08-12   AAPL    113.010  2020      8
312 2020-08-13   AAPL    115.010  2020      8
314 2020-08-14   AAPL    114.908  2020      8
316 2020-08-17   AAPL    114.607  2020      8
318 2020-08-18   AAPL    115.562  2020      8
320 2020-08-19   AAPL    115.707  2020      8
322 2020-08-20   AAPL    118.275  2020      8
324 2020-08-21   AAPL    124.370  2020      8
326 2020-08-24   AAPL    125.857  2020      8
328 2020-08-25   AAPL    124.825  2020      8
330 2020-08-26   AAPL    126.522  2020      8
332 2020-08-27   AAPL    125.010  2020      8
334 2020-08-28   AAPL    124.808  2020      8
336 2020-08-31   AAPL    129.040  2020      8
('GOOGL', 2019, 12)
        Date Symbol  Adj Close  Year  Month
1 2019-12-31  GOOGL    1339.39  2019     12
('GOOGL', 2020, 1)
         Date Symbol  Adj Close  Year  Month
3  2020-01-02  GOOGL    1368.68  2020      1
5  2020-01-03  GOOGL    1361.52  2020      1
7  2020-01-06  GOOGL    1397.81  2020      1
9  2020-01-07  GOOGL    1395.11  2020      1
11 2020-01-08  GOOGL    1405.04  2020      1
13 2020-01-09  GOOGL    1419.79  2020      1
15 2020-01-10  GOOGL    1428.96  2020      1
17 2020-01-13  GOOGL    1440.03  2020      1
19 2020-01-14  GOOGL    1430.59  2020      1
21 2020-01-15  GOOGL    1439.20  2020      1
23 2020-01-16  GOOGL    1450.16  2020      1
25 2020-01-17  GOOGL    1479.52  2020      1
27 2020-01-21  GOOGL    1482.25  2020      1
29 2020-01-22  GOOGL    1483.87  2020      1
31 2020-01-23  GOOGL    1484.69  2020      1
33 2020-01-24  GOOGL    1466.17  2020      1
35 2020-01-27  GOOGL    1431.73  2020      1
37 2020-01-28  GOOGL    1450.50  2020      1
39 2020-01-29  GOOGL    1456.70  2020      1
41 2020-01-30  GOOGL    1454.25  2020      1
43 2020-01-31  GOOGL    1432.78  2020      1
('GOOGL', 2020, 2)
         Date Symbol  Adj Close  Year  Month
45 2020-02-03  GOOGL    1482.60  2020      2
47 2020-02-04  GOOGL    1445.41  2020      2
49 2020-02-05  GOOGL    1446.05  2020      2
51 2020-02-06  GOOGL    1475.97  2020      2
53 2020-02-07  GOOGL    1479.11  2020      2
55 2020-02-10  GOOGL    1508.66  2020      2
57 2020-02-11  GOOGL    1510.06  2020      2
59 2020-02-12  GOOGL    1518.63  2020      2
61 2020-02-13  GOOGL    1513.39  2020      2
63 2020-02-14  GOOGL    1518.73  2020      2
65 2020-02-18  GOOGL    1519.44  2020      2
67 2020-02-19  GOOGL    1524.87  2020      2
69 2020-02-20  GOOGL    1516.99  2020      2
71 2020-02-21  GOOGL    1483.46  2020      2
73 2020-02-24  GOOGL    1419.86  2020      2
75 2020-02-25  GOOGL    1386.32  2020      2
77 2020-02-26  GOOGL    1390.47  2020      2
79 2020-02-27  GOOGL    1314.95  2020      2
81 2020-02-28  GOOGL    1339.25  2020      2
('GOOGL', 2020, 3)
          Date Symbol  Adj Close  Year  Month
83  2020-03-02  GOOGL    1386.32  2020      3
85  2020-03-03  GOOGL    1337.72  2020      3
87  2020-03-04  GOOGL    1381.60  2020      3
89  2020-03-05  GOOGL    1314.76  2020      3
91  2020-03-06  GOOGL    1295.74  2020      3
93  2020-03-09  GOOGL    1215.79  2020      3
95  2020-03-10  GOOGL    1275.17  2020      3
97  2020-03-11  GOOGL    1210.90  2020      3
99  2020-03-12  GOOGL    1111.55  2020      3
101 2020-03-13  GOOGL    1214.27  2020      3
103 2020-03-16  GOOGL    1073.00  2020      3
105 2020-03-17  GOOGL    1118.06  2020      3
107 2020-03-18  GOOGL    1091.19  2020      3
109 2020-03-19  GOOGL    1111.67  2020      3
111 2020-03-20  GOOGL    1068.21  2020      3
113 2020-03-23  GOOGL    1054.13  2020      3
115 2020-03-24  GOOGL    1130.01  2020      3
117 2020-03-25  GOOGL    1101.62  2020      3
119 2020-03-26  GOOGL    1162.92  2020      3
121 2020-03-27  GOOGL    1110.26  2020      3
123 2020-03-30  GOOGL    1146.31  2020      3
125 2020-03-31  GOOGL    1161.95  2020      3
('GOOGL', 2020, 4)
          Date Symbol  Adj Close  Year  Month
127 2020-04-01  GOOGL    1102.10  2020      4
129 2020-04-02  GOOGL    1117.03  2020      4
131 2020-04-03  GOOGL    1092.70  2020      4
133 2020-04-06  GOOGL    1183.19  2020      4
135 2020-04-07  GOOGL    1182.56  2020      4
137 2020-04-08  GOOGL    1207.00  2020      4
139 2020-04-09  GOOGL    1206.57  2020      4
141 2020-04-13  GOOGL    1210.41  2020      4
143 2020-04-14  GOOGL    1265.23  2020      4
145 2020-04-15  GOOGL    1257.30  2020      4
147 2020-04-16  GOOGL    1257.43  2020      4
149 2020-04-17  GOOGL    1279.00  2020      4
151 2020-04-20  GOOGL    1261.15  2020      4
153 2020-04-21  GOOGL    1212.16  2020      4
155 2020-04-22  GOOGL    1258.41  2020      4
157 2020-04-23  GOOGL    1271.17  2020      4
159 2020-04-24  GOOGL    1276.60  2020      4
161 2020-04-27  GOOGL    1270.86  2020      4
163 2020-04-28  GOOGL    1232.59  2020      4
165 2020-04-29  GOOGL    1342.18  2020      4
167 2020-04-30  GOOGL    1346.70  2020      4
('GOOGL', 2020, 5)
          Date Symbol  Adj Close  Year  Month
169 2020-05-01  GOOGL    1317.32  2020      5
171 2020-05-04  GOOGL    1322.90  2020      5
173 2020-05-05  GOOGL    1349.02  2020      5
175 2020-05-06  GOOGL    1345.43  2020      5
177 2020-05-07  GOOGL    1369.28  2020      5
179 2020-05-08  GOOGL    1384.34  2020      5
181 2020-05-11  GOOGL    1403.59  2020      5
183 2020-05-12  GOOGL    1375.18  2020      5
185 2020-05-13  GOOGL    1348.33  2020      5
187 2020-05-14  GOOGL    1356.86  2020      5
189 2020-05-15  GOOGL    1373.06  2020      5
191 2020-05-18  GOOGL    1385.18  2020      5
193 2020-05-19  GOOGL    1374.40  2020      5
195 2020-05-20  GOOGL    1409.16  2020      5
197 2020-05-21  GOOGL    1406.75  2020      5
199 2020-05-22  GOOGL    1413.24  2020      5
201 2020-05-26  GOOGL    1421.37  2020      5
203 2020-05-27  GOOGL    1420.28  2020      5
205 2020-05-28  GOOGL    1418.24  2020      5
207 2020-05-29  GOOGL    1433.52  2020      5
('GOOGL', 2020, 6)
          Date Symbol  Adj Close  Year  Month
209 2020-06-01  GOOGL    1434.87  2020      6
211 2020-06-02  GOOGL    1442.31  2020      6
213 2020-06-03  GOOGL    1439.25  2020      6
215 2020-06-04  GOOGL    1414.30  2020      6
217 2020-06-05  GOOGL    1440.02  2020      6
219 2020-06-08  GOOGL    1448.04  2020      6
221 2020-06-09  GOOGL    1452.08  2020      6
223 2020-06-10  GOOGL    1464.70  2020      6
225 2020-06-11  GOOGL    1401.90  2020      6
227 2020-06-12  GOOGL    1412.92  2020      6
229 2020-06-15  GOOGL    1420.74  2020      6
231 2020-06-16  GOOGL    1446.47  2020      6
233 2020-06-17  GOOGL    1452.54  2020      6
235 2020-06-18  GOOGL    1434.12  2020      6
237 2020-06-19  GOOGL    1424.64  2020      6
239 2020-06-22  GOOGL    1450.66  2020      6
241 2020-06-23  GOOGL    1463.98  2020      6
243 2020-06-24  GOOGL    1432.70  2020      6
245 2020-06-25  GOOGL    1441.10  2020      6
247 2020-06-26  GOOGL    1362.54  2020      6
249 2020-06-29  GOOGL    1397.17  2020      6
251 2020-06-30  GOOGL    1418.05  2020      6
('GOOGL', 2020, 7)
          Date Symbol  Adj Close  Year  Month
253 2020-07-01  GOOGL    1442.00  2020      7
255 2020-07-02  GOOGL    1469.93  2020      7
257 2020-07-06  GOOGL    1499.65  2020      7
259 2020-07-07  GOOGL    1489.92  2020      7
261 2020-07-08  GOOGL    1503.60  2020      7
263 2020-07-09  GOOGL    1518.66  2020      7
265 2020-07-10  GOOGL    1539.01  2020      7
267 2020-07-13  GOOGL    1512.23  2020      7
269 2020-07-14  GOOGL    1520.86  2020      7
271 2020-07-15  GOOGL    1516.88  2020      7
273 2020-07-16  GOOGL    1514.92  2020      7
275 2020-07-17  GOOGL    1516.85  2020      7
277 2020-07-20  GOOGL    1563.84  2020      7
279 2020-07-21  GOOGL    1555.92  2020      7
281 2020-07-22  GOOGL    1564.85  2020      7
283 2020-07-23  GOOGL    1516.75  2020      7
285 2020-07-24  GOOGL    1508.21  2020      7
287 2020-07-27  GOOGL    1529.43  2020      7
289 2020-07-28  GOOGL    1503.65  2020      7
291 2020-07-29  GOOGL    1523.51  2020      7
293 2020-07-30  GOOGL    1538.37  2020      7
295 2020-07-31  GOOGL    1487.95  2020      7
('GOOGL', 2020, 8)
          Date Symbol  Adj Close  Year  Month
297 2020-08-03  GOOGL    1482.76  2020      8
299 2020-08-04  GOOGL    1473.30  2020      8
301 2020-08-05  GOOGL    1479.09  2020      8
303 2020-08-06  GOOGL    1504.95  2020      8
305 2020-08-07  GOOGL    1498.37  2020      8
307 2020-08-10  GOOGL    1496.82  2020      8
309 2020-08-11  GOOGL    1480.54  2020      8
311 2020-08-12  GOOGL    1507.24  2020      8
313 2020-08-13  GOOGL    1516.65  2020      8
315 2020-08-14  GOOGL    1504.63  2020      8
317 2020-08-17  GOOGL    1516.24  2020      8
319 2020-08-18  GOOGL    1555.78  2020      8
321 2020-08-19  GOOGL    1544.61  2020      8
323 2020-08-20  GOOGL    1576.25  2020      8
325 2020-08-21  GOOGL    1575.57  2020      8
327 2020-08-24  GOOGL    1585.15  2020      8
329 2020-08-25  GOOGL    1605.85  2020      8
331 2020-08-26  GOOGL    1644.13  2020      8
333 2020-08-27  GOOGL    1628.52  2020      8
335 2020-08-28  GOOGL    1639.43  2020      8
337 2020-08-31  GOOGL    1629.53  2020      8

In [193]:
t = p.set_index(['Symbol','Year','Month'])

In [194]:
t

                        Date  Adj Close
Symbol Year Month
AAPL   2019 12    2019-12-31     72.910
GOOGL  2019 12    2019-12-31   1339.390
AAPL   2020 1     2020-01-02     74.573
GOOGL  2020 1     2020-01-02   1368.680
AAPL   2020 1     2020-01-03     73.848
GOOGL  2020 1     2020-01-03   1361.520
AAPL   2020 1     2020-01-06     74.436
GOOGL  2020 1     2020-01-06   1397.810
AAPL   2020 1     2020-01-07     74.086
GOOGL  2020 1     2020-01-07   1395.110
AAPL   2020 1     2020-01-08     75.278
GOOGL  2020 1     2020-01-08   1405.040
...                      ...        ...
AAPL   2020 8     2020-08-24    125.857
GOOGL  2020 8     2020-08-24   1585.150
AAPL   2020 8     2020-08-25    124.825
GOOGL  2020 8     2020-08-25   1605.850
AAPL   2020 8     2020-08-26    126.522
GOOGL  2020 8     2020-08-26   1644.130
AAPL   2020 8     2020-08-27    125.010
GOOGL  2020 8     2020-08-27   1628.520
AAPL   2020 8     2020-08-28    124.808
GOOGL  2020 8     2020-08-28   1639.430
AAPL   2020 8     2020-08-31    129.040
GOOGL  2020 8     2020-08-31   1629.530

[338 rows x 2 columns]